@import "tailwindcss";

@theme {
  --color-lightBlue: #6191f9;
  --color-mediumBlue: #2f51eb;
  --color-darkBlue: #000b78;
  --color-politeBlue: #D6EAF8;
}

@custom-variant dark (&:where(.dark, .dark *));